<div class="position-relative nav-tabs-header full-width">
	<ul class="nav nav-tabs">
		<li ng-class="{active: location == '/configuration/rates/definitions/dimensions'}">
			<a href="#/configuration/rates/definitions/dimensions">Dimensions</a>
		</li>
		<li ng-class="{active: location == '/configuration/rates/definitions/attributes'}">
			<a href="#/configuration/rates/definitions/attributes">Attributes</a>
		</li>
		<li ng-class="{active: location == '/configuration/rates/definitions/properties'}">
			<a href="#/configuration/rates/definitions/properties">Properties</a>
		</li>
	</ul>
</div>
