<header id="header">
  <div id="logo-group">
    <!-- PLACE YOUR LOGO HERE -->
    <span id="logo"> <img src="../images/apiro/apirorates-transparent-small.png" alt="ApiroRates"> </span>

    <!-- END LOGO PLACEHOLDER -->
    <!-- Note: The activity badge color changes when clicked and resets the number to 0
    Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->

    <!--<span class="activity">-->
      <!--<i class="fa fa-sta"></i>-->
    <!--</span>-->

    <!--<div id="logout" class="btn-header transparent pull-right">-->
      <!--<span> <a href="login.html" title="Sign Out"><i class="fa fa-sign-out"></i></a> </span>-->
    <!--</div>-->

    <!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
    <div class="ajax-dropdown">
      <!-- the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
      <div class="btn-group btn-group-justified" data-toggle="buttons">
        <label class="btn btn-default">
          <input type="radio" name="activity" id="ajax/notify/mail.html">
          Msgs (14) </label>
        <label class="btn btn-default">
          <input type="radio" name="activity" id="ajax/notify/notifications.html">
          notify (3) </label>
        <label class="btn btn-default">
          <input type="radio" name="activity" id="ajax/notify/tasks.html">
          Tasks (4) </label>
      </div>

      <!-- notification content -->
      <div class="ajax-notifications custom-scroll">
        <div class="alert alert-transparent">
          <h4>Click a button to show messages here</h4>
          This blank page message helps protect your privacy, or you can show the first message here automatically.
        </div>
        <i class="fa fa-lock fa-4x fa-border"></i>
      </div>
      <!-- end notification content -->

      <!-- footer: refresh area -->
					<span> Last updated on: 12/12/2013 9:43AM
						<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..."
                    class="btn btn-xs btn-default pull-right">
              <i class="fa fa-refresh"></i>
            </button> </span>
      <!-- end footer -->

    </div>
    <!-- END AJAX-DROPDOWN -->
  </div>

  <!--<div class="btn-header transparent">-->
    <!--<a class="btn btn-default" ><i class="fa fa-dashboard"></i> Default</a>-->
  <!--</div>-->


  <div class="nav-button">
    <div class="btn-group">
      <a class="btn btn-default" ng-class="{'active': isDashboard()}" href="#/dashboard"><i class="fa fa-home"></i> Dashboard</a>
      <a class="btn btn-default" ng-class="{'active': isRuntime()}" href="#/runtime/sources"><i class="fa fa-flask"></i> Runtime</a>
      <a class="btn btn-default" ng-class="{'active': isSetup()}" href="#/configuration"><i class="fa fa-cog"></i> Config</a>
    </div>
  </div>

  <div class="nav-context">
  <span class="label">Market Status:</span>
  <span class="project-selector popover-trigger-element dropdown-toggle"
  data-toggle="dropdown">Open <i class="fa fa-angle-down"></i></span>

  <ul class="dropdown-menu">
  <li>
  <a href="javascript:void(0);">Online e-merchant management system - attaching integration with the iOS</a>
  </li>
  <li>
  <a href="javascript:void(0);">Notes on pipeline upgradee</a>
  </li>
  <li>
  <a href="javascript:void(0);">Assesment Report for merchant account</a>
  </li>
  <li class="divider"></li>
  <li>
  <a href="javascript:void(0);"><i class="fa fa-power-off"></i> Clear</a>
  </li>
  </ul>
  </div>

  <!-- end projects dropdown -->

  <!-- pulled right: nav area -->
  <div class="pull-right">

    <!-- collapse menu button -->
    <div id="user-menu" class="btn-header pull-right">
    <span class="popover-trigger-element dropdown-toggle" data-toggle="dropdown">
    <a href="login.html" title="Sign Out"><i class="fa fa-user"></i></a>
    </span>
      <ul class="user-menu pull-right dropdown-menu  dropdown-caret dropdown-closer">
        <li>
          <a href="#"> <i class="icon-cog"></i> Settings </a>
        </li>

        <li>
          <a href="#"> <i class="icon-user"></i> Profile </a>
        </li>

        <li class="divider"></li>

        <li>
          <a href="" ng-click="performLogout()"> <i class="fa fa-power-off"> </i> Logout </a>
        </li>
      </ul>


    <!-- search mobile button (this is hidden till mobile view port) -->
    <!--<div id="search-mobile" class="btn-header transparent pull-right">-->
      <!--<span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>-->
    <!--</div>-->
    <!-- end search mobile button -->

     <!--input: search field -->
    <!--<form action="#search.html" class="header-search pull-right">-->
    <!--<input type="text" placeholder="Find reports and more" id="search-fld">-->
    <!--<button type="submit">-->
    <!--<i class="fa fa-search"></i>-->
    <!--</button>-->
    <!--<a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>-->
    <!--</form>-->
     <!--end input: search field -->

  </div>
  </div>
  <!-- end pulled right: nav area -->

</header>