<div class="position-relative nav-tabs-header full-width">
  <ul class="nav nav-tabs">
    <li ng-class="{active: location == '/sources/raw'}"><a href="#/sources/raw">Raw Rates</a></li>
    <li ng-class="{active: location == '/sources/aggregated'}"><a href="#/sources/aggregated">Aggregated Rates</a></li>
    <li ng-class="{active: location == '/sources/historical'}"><a href="#/sources/historical">Historical Rates</a></li>
    <li ng-class="{active: location == '/sources/crossRate'}"><a href="#/sources/crossRate">Risk Factors</a></li>
  </ul>
</div>