<div>
  <div class="widget-header">
                      <span ng-hide="ready">
                        <i class="icon-spinner icon-spin icon-large"></i>
                      </span>
                      <span ng-show="noData">

                      </span>

    <div class="widget-toolbar button-in-toolbar">
      <button class="btn btn-mini btn-success pull-right" ng-click="modifyCorporateAction()">
        <i class="icon icon-plus-sign"></i>Add
      </button>
    </div>
  </div>
  <div class="widget-body">
    <div class="widget-main no-padding">
      <div id="grid" class="grid"></div>
    </div>
  </div>
</div>