<article class="col-sm-12">
  <div id="grid" class="grid" ng-show="!displayGraph"></div>
  <div id="graphView" class="k-widget" ng-show="displayGraph"
       data-widget-editbutton="false" role="widget" style="">
    <div class="k-header k-grid-toolbar">
      <div id="toolbar" data-role="toolbar" class="k-toolbar ">
        <div><a id="dataView" class=" k-button k-button-icontext" > </span> Data view</a></div>
      </div>
    </div>
    <div id="crossRateContainer" class="chart-wrapper"></div>
  </div>
</article>

