<div ng-controller="crossRateHistoricalController" class="animated fadeIn">
  <div id="main" role="main">
    <!-- RIBBON -->
    <div id="ribbon" ng-show = "$root.showView" data-ng-include="'views/includes/ribbon.html'" data-ribbon=""></div>
    <!-- END RIBBON -->
    <div id="content">
      <div class="row">
        <section id="widget-grid">
          <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div cross-rate-historical-grid
                   source-url="historicalRateSearchPath"
                   columns="columns"
                   change-count="changeCount"
                   table-type="tableType"
                   display-date-criteria="displayDateCriteria"
                   editable="false">
              </div>
              <!--/.span-->
            </article>
          </div>
          <!--/.row-fluid-->
        </section>
      </div>
      <!--/.page-content-->
    </div>
  </div>
</div>
</div>