<div>

  <div class="form-group">
    <label class="col-md-2 control-label">Event type</label>

    <div class="col-md-6">
      <div class="controls">
        <ui-select name="definition" data-ng-model="instance.eventType" theme="selectize"
                   data-ng-required="true">
          <ui-select-match placeholder="Choose">{{instance.eventType.name}}</ui-select-match>
          <ui-select-choices
            repeat="eventType in eventTypes | propsFilter: {name: $select.search}">
            <div data-ng-bind-html="eventType.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Enabled</label>
    <div class="col-md-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" class="checkbox style-0" ng-model="instance.enabled">
          <span></span>
        </label>
      </div>
    </div>
  </div>


</div>