<div class="control-group">
  <label class="control-label">Rate Schema Definition:</label>

  <div class="controls">
    <ui-select ng-model="rateSchemaDefinition.selected" theme="selectize" class="form-control" required="true">
      <ui-select-match placeholder="Select Rate Schema Definition">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="rateSchemaDefinition in rateSchemaDefinitions track by $index">
        <div ng-bind-html="rateSchemaDefinition.name | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Cron Triggers:</label>

  <div class="controls">
    <input name="cronTriggers" type="text"  ng-model="instance.cronTriggers" />
  </div>
</div>

<div class="control-group">
  <label class="control-label">Inline Only:</label>

  <div class="controls">
    <input name="inlineOnly" type="checkbox"  ng-model="instance.inlineOnly" />
  </div>
</div>

</div>