<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 show-stats">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12"><span class="text"> Rates per second <span
      class="pull-right">{{statusData.ratesPerSec}}</span> </span>

      <div class="progress">
        <div class="progress-bar bg-color-greenLight" ng-style="speedInPercentage"></div>
      </div>
    </div>
    <!--<div class="col-xs-6 col-sm-6 col-md-12 col-lg-12"><span class="text"> Feeds queued <span-->
    <!--class="pull-right">{{statusData.feedsQueued}}</span> </span>-->

    <!--&lt;!&ndash;<div class="progress">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="progress-bar bg-color-blue" style="width: 34%;"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12"><span class="text"> Import speed (μs/rate) <span
      class="pull-right">{{statusData.microseconds > 999999 ? '> 1ms' : statusData.microseconds}}</span> </span>

      <div class="progress">
        <div class="progress-bar bg-color-redLight" ng-style="microsecondsPercentage"></div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
    <span class="text"> Tasks queued
      <span class="pull-right">
      <ul class="smaller-stat hidden-sm pull-right wide-label">
        <li>
          <span class="label bg-color-blue"> {{statusData.tasksQueued}} </span>
        </li>
      </ul>
    </span>
      </span>
    </div>


    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 pad-top-10px">
    <span class="text"> Active tasks

      <span class="pull-right">
      <ul class="smaller-stat hidden-sm pull-right">
        <li>
          <span class="label bg-color-blue"> {{statusData.tasksExecuting}} </span>
        </li>
      </ul>
    </span>
      </span>
    </div>


    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 pad-top-10px">
    <span class="text"> Active feed

      <span class="pull-right">
      <ul class="smaller-stat hidden-sm pull-right">
        <li>
          <span class="label bg-color-blue"> {{statusData.currentFeed}} </span>
        </li>
      </ul>
    </span>
      </span>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 pad-top-10px">
    <span class="text"> Active feed running time (ms)

      <span class="pull-right">
      <ul class="smaller-stat hidden-sm pull-right">
        <li>
          <span class="label bg-color-blue"> {{statusData.currentFeedRunningFor}} </span>
        </li>
      </ul>
        </span>
    </span>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 pad-top-10px">
    <span class="text"> Queued feeds

      <span class="pull-right">
      <ul class="smaller-stat hidden-sm pull-right">
        <li>
          <span class="label bg-color-blue"> {{statusData.feedsQueued}} </span>
        </li>
      </ul>
    </span>
      </span>
    </div>


    <!--<div class="col-xs-6 col-sm-6 col-md-12 col-lg-12"><span class="text"> Bugs Squashed<span-->
    <!--class="pull-right">77%</span> </span>-->

    <!--<div class="progress">-->
    <!--<div class="progress-bar bg-color-blue" style="width: 77%;"></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xs-6 col-sm-6 col-md-12 col-lg-12"><span class="text"> User Testing <span-->
    <!--class="pull-right">7 Days</span> </span>-->

    <!--<div class="progress">-->
    <!--<div class="progress-bar bg-color-greenLight" style="width: 84%;"></div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<span class="show-stat-buttons"> <span class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <a-->
    <!--href="javascript:void(0);" class="btn btn-default btn-block hidden-xs">Generate PDF</a> </span> <span-->
    <!--class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <a href="javascript:void(0);"-->
    <!--class="btn btn-default btn-block hidden-xs">Report a-->
    <!--bug</a> </span> </span>-->

  </div>


  <!--<div class="row-fluid">-->
  <!--<div class="span12">-->
  <!--<div class="widget-box">-->
  <!--<div class="widget-header">-->
  <!--<h4 class="smaller">-->
  <!--Realtime-->
  <!--<small>Import Status</small>-->
  <!--</h4>-->
  <!--</div>-->
  <!--<div class="widget-body">-->
  <!--<div class="widget-main">-->
  <!--<div class=" infobox-container">-->
  <!--<div class="infobox infobox-green  ">-->
  <!--<div class="infobox-icon">-->
  <!--<i class="icon-thumbs-up"></i>-->
  <!--</div>-->

  <!--<div class="infobox-data">-->
  <!--<span class="infobox-data-number">{{statusData.rawCount}}</span>-->
  <!--<div class="infobox-content">Valid Raw</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="infobox infobox-red" ng-if="statusData.rawViolated > 0">-->
  <!--<div class="infobox-icon">-->
  <!--<i class="icon-thumbs-down"></i>-->
  <!--</div>-->

  <!--<div class="infobox-data">-->
  <!--<span class="infobox-data-number">{{statusData.rawViolated}}</span>-->
  <!--<div class="infobox-content">Violated Raw</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="infobox infobox-green" ng-if="statusData.rawViolated == 0">-->
  <!--<div class="infobox-icon">-->
  <!--<i class="icon-thumbs-up"></i>-->
  <!--</div>-->

  <!--<div class="infobox-data">-->
  <!--<span class="infobox-data-number">{{statusData.rawViolated}}</span>-->
  <!--<div class="infobox-content">Violated Raw</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="infobox infobox-green  ">-->
  <!--<div class="infobox-icon">-->
  <!--<i class="icon-thumbs-up"></i>-->
  <!--</div>-->

  <!--<div class="infobox-data">-->
  <!--<span class="infobox-data-number">{{statusData.aggregatedCount}}</span>-->
  <!--<div class="infobox-content">Valid Aggregated</div>-->
  <!--</div>-->
  <!--</div>-->


  <!--<div class="infobox infobox-red" ng-if="statusData.aggViolated > 0">-->
  <!--<div class="infobox-icon">-->
  <!--<i class="icon-thumbs-down"></i>-->
  <!--</div>-->

  <!--<div class="infobox-data">-->
  <!--<span class="infobox-data-number">{{statusData.aggViolated}}</span>-->
  <!--<div class="infobox-content">Violated Aggregated</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="infobox infobox-green" ng-if="statusData.aggViolated == 0">-->
  <!--<div class="infobox-icon">-->
  <!--<i class="icon-thumbs-up"></i>-->
  <!--</div>-->

  <!--<div class="infobox-data">-->
  <!--<span class="infobox-data-number">{{statusData.aggViolated}}</span>-->
  <!--<div class="infobox-content">Violated Aggregated</div>-->
  <!--</div>-->
  <!--</div>-->


  <!--<div class="infobox infobox-blue2  ">-->
  <!--<div class="infobox-icon">-->
  <!--<i class="icon-cogs"></i>-->
  <!--</div>-->
  <!--<div class="infobox-data">-->
  <!--<span class="progress small-progress-dash " data-percent="{{statusData.ratesPerSec}}">-->
  <!--<span class="bar" ng-style="speedInPercentage"></span>-->
  <!--</span>-->
  <!--<div class="infobox-content">  rates/second</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="infobox infobox-purple">-->
  <!--<div class="infobox-icon">-->
  <!--<i class="icon-bolt"></i>-->
  <!--</div>-->
  <!--<div class="infobox-data">-->
  <!--<span class="infobox-data-number">{{statusData.microSecondsPerRate}}</span>-->
  <!--<div class="infobox-content"> μs/rate {{ (cnt/3)%2==0 ? '.' : '' }}</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="infobox infobox-orange">-->
  <!--<div class="infobox-icon">-->
  <!--<i class="icon- icon-fire"></i>-->
  <!--</div>-->
  <!--<div class="infobox-data">-->
  <!--<span class="infobox-data-number">{{statusData.feedsQueued}}</span>-->
  <!--<div class="infobox-content"> Feeds queued </div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="infobox infobox-green">-->
  <!--<div class="infobox-icon">-->
  <!--<i class="icon-upload"></i>-->
  <!--</div>-->
  <!--<div class="infobox-data">-->
  <!--<span>{{statusData.currentFeed}}</span>-->
  <!--<div class="infobox-content"> Current feed </div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="infobox infobox-green">-->
  <!--<div class="infobox-icon">-->
  <!--<i class="icon-upload"></i>-->
  <!--</div>-->
  <!--<div class="infobox-data">-->
  <!--<span>{{ "-"+(statusData.currentFeedPrincipal==null || statusData.currentFeedPrincipal.length==0) ? "None" : statusData.currentFeedPrincipal}}</span>-->
  <!--<div class="infobox-content"> Feed trigger </div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="infobox infobox-blue">-->
  <!--<div class="infobox-icon">-->
  <!--<i class="icon-time"></i>-->
  <!--</div>-->
  <!--<div class="infobox-data">-->
  <!--<span>{{statusData.currentFeedRunningFor}}</span>-->
  <!--<div class="infobox-content">current feed time</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->


</div>